/* The alert message box */
.alert {
  background-color: #5bbbe3; 
  color: white;
  width:100px;
  height:auto;
}

/* The close button */
.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: #3e738a;
}
